@CHARSET "ISO-8859-1";

@font-face {
  font-family: analyticsFont;
  font-style: normal;
 /*  font-weight: 400; */
  src: local('Open Sans'), local('OpenSans'), url(http://themes.googleusercontent.com/static/fonts/opensans/v7/cJZKeOuBrn4kERxqtaUH3T8E0i7KZn-EPnyo3HZu7kw.woff) format('woff');
}




.button {
	position: relative;
   /*  color: rgba(255,255,255,1); */
   color:rgb(48,128,209);
    text-decoration: none;
   /*  background-color:rgb(48, 128, 209); */
 /*     background-color: rgba(48, 128,209,1); */
   /*  background-color: rgba(219,87,5,1); */
   
   background: -webkit-radial-gradient( rgb(232,232,232),rgb(252,252,252), rgb(210,210,210)); /* Safari */
	background: -o-radial-gradient( rgb(232,232,232),rgb(252,252,252), rgb(210,210,210)); /* For Opera 11.1 to 12.0 */
	background: -moz-radial-gradient( rgb(232,232,232),rgb(252,252,252), rgb(210,210,210)); /* For Firefox 3.6 to 15 */
	background: radial-gradient( rgb(232,232,232),rgb(252,252,252), rgb(210,210,210)); /* Standard syntax (must be last) */
   
   
    font-family: analyticsFont;
    font-weight: 200;
    font-size: 14pt;
    display: block;
    vertical-align:text-top;
    padding-bottom: 10px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    -webkit-box-shadow: 0px 5px 0px rgba(153,153,153,1), 0px 9px 5px rgba(0,0,0,.7);
    -moz-box-shadow: 0px 5px 0px rgba(153,153,153,1), 0px 9px 5px rgba(0,0,0,.7);
    box-shadow: 0px 5px 0px rgba(153,153,153,1), 0px 9px 5px rgba(0,0,0,.7);
    margin: 10px auto;
	width: 160px;
	text-align: center;
	
	-webkit-transition: all .1s ease;
	-moz-transition: all .1s ease;
	-ms-transition: all .1s ease;
	-o-transition: all .1s ease;
	transition: all .1s ease;
}

.button:active {
    -webkit-box-shadow: 0px 3px 0px rgba(219,31,5,1), 0px 3px 6px rgba(0,0,0,.9);
    -moz-box-shadow: 0px 3px 0px rgba(219,31,5,1), 0px 3px 6px rgba(0,0,0,.9);
    box-shadow: 0px 3px 0px rgba(19,31,5,1), 0px 3px 6px rgba(0,0,0,.9);
    position: relative;
    top: 6px;
}


div
{
font-family:analyticsFont;
}


body{
	font-family:analyticsFont;
	/* min-width: 1260px;
	//1024x768 */
	min-width: 1024;
	min-height:768;
	margin: 0px;
}

input{
font-family: analyticsFont;
border:1px solid grey;
width: 80%;
height: 25px;
color: rgb(48, 128, 209);
font-weight: bold;
	-webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;
	background: -webkit-radial-gradient(rgb(252,252,252), rgb(242,242,242), rgb(232,232,232)); /* Safari */
	background: -o-radial-gradient(rgb(252,252,252), rgb(242,242,242), rgb(232,232,232)); /* For Opera 11.1 to 12.0 */
	background: -moz-radial-gradient(rgb(252,252,252), rgb(242,242,242), rgb(232,232,232)); /* For Firefox 3.6 to 15 */
	background: radial-gradient(rgb(252,252,252), rgb(242,242,242), rgb(232,232,232)); /* Standard syntax (must be last) */

}

#row1
{
	height: 60px;
	margin-bottom: 0px solid black;
	width: 100%;
 	/* background-color: #5E5E5E;  (53,53,53) to (79,79,79) */
	/* background-image:url("../images/row1.png");   */
	 /*  background: -webkit-radial-gradient( (79,79,79),rgb(53,53,53), rgb(53,53,53)); Safari
	background: -o-radial-gradient( rgb(232,232,232),rgb(252,252,252), rgb(210,210,210)); For Opera 11.1 to 12.0
	background: -moz-radial-gradient( rgb(232,232,232),rgb(252,252,252), rgb(210,210,210)); For Firefox 3.6 to 15
	background: radial-gradient( rgb(232,232,232),rgb(252,252,252), rgb(210,210,210)); Standard syntax (must be last) */
   
    background-repeat: repeat-x;

  /* Safari 4-5, Chrome 1-9  FROM TOP TO BOTTOM  */
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#4F4F4F), to(#353535));

  /* Safari 5.1, Chrome 10+ */
  background: -webkit-linear-gradient(top, #4F4F4F, #353535);

  /* Firefox 3.6+ */
  background: -moz-linear-gradient(top,  #4F4F4F, #353535);

  /* IE 10 */
  background: -ms-linear-gradient(top,  #4F4F4F, #353535);

  /* Opera 11.10+ */
  background: -o-linear-gradient(top,  #4F4F4F, #353535);
	
	
}

#content
{
	position:relative;
	height: 100%;
	width:100%;
}



#spendDiv
{
	position:relative;
	width: 77%;
	/* min-height:400px;
	max-height:1500px; */
	border: 0px solid orange;
	margin-left : 12%;
	margin-top: 3%; 
	margin-bottom: 20px;
	
}

#logo
{
	position: relative;
	float: left;
	margin-left:12%;
	margin-top:4px;
	font-size: 20pt;
	color: #FFFFFF;
	font-weight: bold;
	font-family: calibri;
}

#userSettings
{
	font-family: analyticsFont;
	position: relative;
	float: right;
	margin: 4px;
	color: white;
	font-size: 13pt;
	font-weight: bold;
	margin-right: 6%;
}

#overview {
    font-family: analyticsFont;
    margin: 10px;
    font-size: 27pt;
    position: relative;
    border-bottom: 0px solid #808080;
    padding-bottom: 1%;
    height: 30px;
}

.vdcCatalog
{
	width: 100%;
	margin: 40px;
	margin-bottom: 20px;
	min-width:700px;
	border: 0px solid black;
	font-family: calibri;
	color: #3399FF;
	font-weight: bold;
	margin-top: 3%;
	margin-left:0%;
/* 	background-color: 	#5CB8E6; */
	background-color: 	rgb(78,172,219);
	-webkit-border-radius: 20px;
-moz-border-radius: 20px;
border-radius: 20px;
/* border-radius: 0px; */
}



.userVDCsdiv
{
	position: relative;
	width: 95%;
	
	overflow: scroll;
	overflow-x:hidden;
	margin-left: 6mm;
	margin-top: 0%;
}

.vdcTableHead
{
	position:relative;
	width: 100%;
	font-family: analyticsFont;
	min-width:700px;
	font-size: 19pt;
	font-weight: bold;
/* 	background-color: 	#5CB8E6; */
background-color: 	rgb(78,172,219);
	color: white;
	text-align: center;
	top:0px;
	margin-left:0%;
	padding: 5px;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;
	/*  border-radius: 0px; */
}
.vdcTableContent
{
	width: 100%;
	font-weight:normal;
	padding:3px;
	/* background-color:#5CB8E6; */
	background-color: 	rgb(78,172,219);
	margin-bottom: 20px;
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
	border-radius: 30px;
	/* border-radius: 0px; */
}

.tableBodyClass
{
	/* background-color: 	#5CB8E6; */
	background-color: 	rgb(78,172,219);
}

.rowIterator
{
	/* background-color: 	#5CB8E6; */
	background-color: 	rgb(78,172,219);
}


.vdcRow
{
	background-color: white;
	font-family: analyticsFont;
	/* #3399FF */
	padding: 6px;
	text-decoration:none;
	text-align:center;
	color: 	#007ACC;
	font-size:20pt;
	height: 30px;
	border-spacing: 1px;
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	border-radius: 15px;
	
}

.spendLabel
{
	font-family: analyticsFont;
	position: relative;
	float: left;
	color: rgb(10,105,213);
	font-size: 25pt;
}

.monthLabel
{
	position: relative;
	
	color: rgb(72,72,72);
	font-size: 25pt;
	font-weight: 400;
	padding-right: 10px;
	font-family:analyticsFont;
}

.yearLabel
{
	font-family: analyticsFont;
	position: relative;
	
	color: rgb(96,96,96);
	font-size: 26pt;
	font-weight: 100;
	
}

.laHeader
{
	font-size: 12pt;
	font-weight: normal;
	vertical-align: middle;
}

#section
{
	font-size: 32pt;
	font-family: calibri;
	color: grey;
	width: 100%;
	direction: ltr;
}

.tdLabel
{
	width: 200px;
	float: right;
	right: 0px;
	text-align: right;
}
.tdField
{
	width: 400px;
}

#section1
{
	position: relative;
	display: block;
}

#section2
{
	position: relative;
	display: block;
	
}

#section3
{
	position: relative;
	display: block;
}

.vdcNameCell
{	text-align: center;
	width: 22%;
	cursor: pointer;
	padding-left:15px;
	text-decoration: underline;
		
}

.spendCell
{	text-align: center;
	width: 19%;
}
.billCell
{	
	
	width: 29%;
	text-align: center;
	font-size: 20pt;
}

.billCell font
{
	font-size: 12pt;
}

.viewCell
{
	width: 13%;
}



.editVdcNameCell
{	
	font-family:analyticsFont;
	text-align: center;
	width: 24%;
	cursor: pointer;
	padding-left:15px;
	text-decoration: underline;
	font-size: 16pt;
		
}

.editSpendCell
{	
	font-family:analyticsFont;
	text-align: center;
	width: 17%;
	font-size: 16pt;
	
}
.editBillCell
{	
	font-family:analyticsFont;
	width: 18%;
	text-align: center;
	font-size: 16pt;
	padding-left: 5px;
}

.editViewCell
{
	font-family:analyticsFont;
	width: 22%;
	font-size: 16pt;
	padding-left: 10px;
}

.tableBodyClass input
{
	color:rgb(48,128,209);
}


tbody td.vdcNameCell
{
	border-right: 1px solid rgb(158,210,237);
}

tbody td.spendCell
{
	border-right: 1px solid rgb(158,210,237);
}

tbody td.billCell
{
	border-right: 1px solid rgb(158,210,237);
}
.prevMonthValue
{
	font-family: calibri;
	font-size: 14pt;
	font-weight: normal;
	color: rgb(200,200,200);
}

.headerText
{
	font-family: analyticsFont;
	font-size: 20pt;
	font-weight: normal;
	
}

#addNewVDC
{
	position: relative;
	margin-top: 20px;
	margin-right: 0%;
	margin-bottom: 20px;
	color: grey;
	font: Open Sans Semibold;
	font-size:14pt;
	text-decoration: none;
}


/*
		margin: 20px;
	font-size: 30pt;
	font-family: Calibri;
	color: #3399FF;
	position: relative;
	border-bottom: 3px solid grey;
	padding-bottom:3%;
	height:40px;
  */
#productionOverview
{
	margin: 20px;
	font-size: 30pt;
	font-family: Calibri;
	color: #3399FF;
	
	position: relative;
	border-bottom: 0px solid grey;
	height:40px;
	border-spacing: 5px;
	
}

#productionTable
{
	font-family:analyticsFont;
	margin: 5px;
	padding: 1%;
	font-size: 16pt;
	border-right: 0px solid grey;
	width: 100%;
	padding-left: 1%;
}

.productionValue 
{
	font-family:analyticsFont;
	font-size: 12pt;
	border-right: 1px solid rgb(204,204,204);
	color:rgb(64,64,64);
	padding: 5px;
	text-align: center;
	padding-right: 40px;
}
.productionValue thead 
{
	font-family:analyticsFont;
	font-size: 12pt;
	text-align: center;
}

.prodDiv
{
	position: relative;
	width: 100%;
	left: 1%;
}

.lastMonthValue
{
	font-family:analyticsFont;
	color: rgb(241,166,116);
	font-size: 12pt;
	font-weight: bold;
}

hr {
	width: 100%;
	/* color: #3399FF;
	border-color:  #3399FF; */
	border: 1px solid rgb(153,153,153);
}

.chartDiv
{
	padding: 10px;
	position: relative;
	left: 0%;
	padding-left: 0px;
	
}

.itemListDiv
{
	position: relative;
	font-family:analyticsFont;
	font-weight:22pt;
	display: block;
	left: 0%;
	width: 100%;
	padding: 20px 0%;
	margin: 0%;
	margin-top:3%;
		-webkit-border-radius: 20px;
-moz-border-radius: 20px;
border-radius: 20px;
background-color: rgb(91, 155, 212);

}

#spendDivProduction
{
	position:relative;
	width: 77%;
	min-width:700px;
	/* min-height:700px; */
	max-height:2000px;
	border: 0px solid orange;
	margin-left : 12%;
	margin-top: 3%; 
	margin-bottom: 20px;
}



/* Settings Styles here */

 span, applet, object, iframe, h1, h2,  h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset,   legend,  caption,   article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  outline: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
/* html { height: 101%; }
body { background: #dde9f0; font-family: Arial, Tahoma, sans-serif; font-size: 62.5%; line-height: 1; padding-bottom: 65px; }
 */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; }
ol, ul { list-style: none; }

blockquote, q { quotes: none; }
blockquote:before, blockquote:after, q:before, q:after { content: ''; content: none; }
strong { font-weight: bold; } 


img { border: 0; max-width: 100%; }

p { font-size: 1.2em; font-weight: normal; line-height: 1.35em; color: #343434; margin-bottom: 12px; }

/* page container */
#wrap { display: block; width: 100px; margin: 0 auto;  position: relative;float: right;}


/* user menu settings */
#dropdown { 
  display: block;
  padding: 2px 2px;
  width: 40px;
  margin: 0 auto;
  position: relative;
  cursor: pointer;
 /*  border-left: 4px solid #739cda; */
	 border-left: 0px solid #739cda;
/*   background: #353535; */
 /* Safari 4-5, Chrome 1-9  FROM TOP TO BOTTOM  */
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#4F4F4F), to(#353535));

  /* Safari 5.1, Chrome 10+ */
  background: -webkit-linear-gradient(top, #4F4F4F, #353535);

  /* Firefox 3.6+ */
  background: -moz-linear-gradient(top,  #4F4F4F, #353535);

  /* IE 10 */
  background: -ms-linear-gradient(top,  #4F4F4F, #353535);

  /* Opera 11.10+ */
  background: -o-linear-gradient(top,  #4F4F4F, #353535); 
/*   background: grey;  */

background:transparent;

  font-size: 1.55em;
  color: #656565;
  font-weight: normal;
 /*  -webkit-box-shadow: 1px 1px 2px rgba(0,0,0,0.3);
  -moz-box-shadow: 1px 1px 2px rgba(0,0,0,0.3);
  box-shadow: 1px 1px 2px rgba(0,0,0,0.3); */
    -webkit-box-shadow: 0px 0px 0px rgba(0,0,0,0.3);
  -moz-box-shadow: 0px 0px 0px rgba(0,0,0,0.3);
  box-shadow: 0px 0px 0px rgba(0,0,0,0.3);
  
/*   -webkit-transition: all 0.15s linear;
  -moz-transition: all 0.15s linear;
  -ms-transition: all 0.15s linear;
  -o-transition: all 0.15s linear;
  transition: all 0.15s linear; */
  
    -webkit-transition: all 0.5s linear;
  -moz-transition: all 0.5s linear;
  -ms-transition: all 0.5s linear;
  -o-transition: all 0.5s linear;
  transition: all 0.5s linear;
  padding-bottom: 10px;
  
}
#dropdown:hover { color: #898989; }

#dropdown.open {
  /* background:  #8ecae8; */
   /* Safari 4-5, Chrome 1-9  FROM TOP TO BOTTOM  */
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#4F4F4F), to(#353535));

  /* Safari 5.1, Chrome 10+ */
  background: -webkit-linear-gradient(top, #4F4F4F, #353535);

  /* Firefox 3.6+ */
  background: -moz-linear-gradient(top,  #4F4F4F, #353535);

  /* IE 10 */
  background: -ms-linear-gradient(top,  #4F4F4F, #353535);

  /* Opera 11.10+ */
  background: -o-linear-gradient(top,  #4F4F4F, #353535);
  
  background:transparent;
  color: #fff;
  border-left-color: #6c6d70;
}

#dropdown ul { 
  position: absolute;
  top: 100%;
  left: -4px; /* move content -4px because of container left border */
  width: 206px;
  padding: 10px 0px;
  display: none;
  border-left: 4px solid #8e9196;
  background: #fff;
  -webkit-box-shadow: 1px 1px 2px rgba(0,0,0,0.3);
  -moz-box-shadow: 1px 1px 2px rgba(0,0,0,0.3);
  box-shadow: 1px 1px 2px rgba(0,0,0,0.3);
  margin: 0px;
}
#dropdown ul li { font-size: 12pt; font-weight: bold;font-family: calibri;}

#dropdown ul li a { 
  text-decoration: none;
  display: block;
  color: #447dd3;
  padding: 7px 15px;
}
#dropdown ul li a:hover {
  color: #6fa0e9;
  background: #e7f0f7;
}



.vdcTableContent tr:nth-child(odd) {
  background-color: #def;
}
.vdcTableContent tr:nth-child(even) {
  background-color: #fff;
}

.vdcTableContent tr:HOVER {
	background-color: #FFE0CC;
}

.display tr:nth-child(odd) {
  background-color: #def;
}
.display tr:nth-child(even) {
  background-color: #fff;
}

.display tr:HOVER {
	background-color: #FFE0CC;
}

.error
{
	color: red;
	font-style: italic;
}

table.display {
	
	border: 1px solid rgb(91, 155, 212);
	padding: 10px;
	outline: 1px solid rgb(91, 155, 212);
	
	}
	
table.display tr{
		border-bottom: 1px solid rgb(91,155,212);
		border-top: 1px solid rgb(91,155,212);
		
	}
	
.linkedTableDataCell
{
		-webkit-border-radius: 20px;
-moz-border-radius: 20px;
border-radius: 20px;
background-color: rgb(91,155,212);
width:100%;
}	
	 .linkedAccSummary
	 {
	 		color:rgb(64,64,64);
	 }
	
	.summaryValue
	{
		font-family:analyticsFont;
		color: rgb(51,131,212);
		font-size: 24pt;
		font-weight: bold;
	}

.linkedAccountsDiv
{
	width: 100%;
	margin-top: 3%;
	margin-bottom: 3%;
}
	
	#dvLoading
		{
		   background:#000 url(resources/images/animation_processing.gif) no-repeat center center;
		   height: 200px;
		   width: 200px;
		   position: fixed;
		   z-index: 2000;
		   left: 50%;
		   top: 50%;
		   margin: -25px 0 0 -25px;
		   background-color: transparent;
		   display: none;
		   border: 3px solid rgb(78,172,219);
		}